<div class="card">

  <div class="logo">
      <img src="https://www.publicdomainpictures.net/pictures/340000/nahled/dog-silhouette-logo.png" >
  </div>

  <div class="form">
      <form action="" class="form">
          <div>
            <label for="" class="form-label" >Username:</label>
            <input type="text" id="username" placeholder="please insert your username">
          </div>
          <div>
              <label for="" class="form-label">Password:</label>
              <input type="password" id="password" placeholder="please insert your password">
            </div>
      </form>
  </div>

  <div class="login-button">
      <p class="button-5" role="button" (click)="login()">Login</p>
  </div>
  <div>
    <a href="http://localhost:4200/register" class="link">Cadastre-se</a>
  </div>

</div>
