<form class="form">
  <div class="form-field">
    <label for="">Name:</label>
    <input type="text" id = "name" />
  </div>

  <div class="form-field">
    <label for="">Age:</label>
    <input type="text" id="age" />
  </div>

  <div class="form-field">
    <label for="">Breed:</label>
    <input type="text" id="breed" />
  </div>

  <div class="form-field">
    <label for="">User:</label>
    <input type="text" id="user" />
  </div>

  <div class="form-field">
    <label for="">password:</label>
    <input type="password" id="password" />
  </div>

  <div class="form-field">
    <label for="">Photo:</label>
    <input type="text" id="photo" />
  </div>


</form>
<div>
  <button (click)="SubmitForm()">A</button>
  <button>B</button>
</div>
