.form{
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 0.5em;
  width: 30%;
  margin: auto;
  margin-top: 3em;
}
.form-field{
  display: flex;
  flex-direction: column;
}
.form-field label{
  font-size: 1.15em;
  font-weight: 500 ;
}

.form-field input{
  height: 1.5em;
  border-radius: 5px;
  font-size: 1em;
  border-color: lightgray;
}

.btn-container{
  display: flex;
  justify-content: space-evenly;
  width: 33%;
  margin: auto;
  margin-top: 1.3em;

}

.btn-container button{
  width: 5em;
  height:  2em;
  background-color: lightgray;
  font-weight: 600;
  font-size: 1em;
  border-radius: 10px;

}

.btn-container button:hover{
  background-color: gray;
}

